.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css or your global styles */
.react-calendar {
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #ffffff; /* Add a background color */
}

.react-calendar__tile--active {
  background: #605ea1;
  color: white;
}

.react-calendar__tile--hover {
  background: #f3f4f6;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #a0aec0;
}

.react-calendar__tile {
  padding: 10px;
}
